@charset "UTF-8";

body{
    background-size: contain;
}

@font-face{
    font-family: "title";
    src: url("../fonts/Kontanter-Bold.otf") format("opentype");
}

h1{
    font-family: "title";
    color: white;
    text-align: center;
}
.backgroundimage img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.mainimg{
    text-align: center;
}

.PageTransition{
    text-align: center;
    font-family: "title";
    /*src: url("../fonts/Kontanter-Bold.otf") format("opentype");*/
    color: lime;
}

a{
    color:inherit;
}