@charset "UTF-8";

body{
    background-size: contain;
}

@font-face{
    font-family: "russia";
    src: url("../fonts/Kontanter-Bold.otf") format("opentype");
}

@font-face {
    font-family: "matrix";
    src: url("../fonts/Miltown_.ttf") format("truetype");
}

h1{
    font-family: "matrix";
    color: white;
    text-align: center;
    font-size: 80px;
}
.backgroundimage img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.main-img{
    text-align: center;
}

.PageTransition{
    text-align: center;
    font-family: serif;
    /*src: url("../fonts/Kontanter-Bold.otf") format("opentype");*/
    color: lime;
    font-size: 50px;
}

.PageTransition a{
    color:inherit;
    text-decoration:none;
}